body {
    font-family: 'Ubuntu', sans-serif;
    color: whitesmoke;
    background-color: black;
} 

.header .navbar {
    background-color: transparent !important;
}

.tarjetas {
    background-color: black;
}

p {
    text-align: center;
}

.icono-texto {
    text-align: center;
}

hr {
    margin: auto;
    margin-bottom: 2%;
}

#viajes, #iconos {
    display: inline-block;
}

#viajes {
    margin-left: 14%;
    margin-right: 49%;
}

.columnas, .tarjetas {
    margin-bottom: 5em;
}