body {
    font-family: 'Ubuntu', sans-serif;
    color: whitesmoke;
    background-color: black;
} 

.header .navbar {
    background-color: transparent !important;
}

.tarjetas {
    background-color: black;
}

p {
    text-align: center;
}





/* #iconos {
    display: inline-block;
} */

/* #viajeschile {
    display: inline;
} */

/* .flex-container {
    display: flex;
    background-color: grey;
}

.flex-item {
    background-color: white;
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 100px;
    font-size: 50px;
} */